.fas.fa-trash {
    color: #ff7e79;
    font-size: 20px;
  }
  .rounded-panel {
    border-radius: 18px;
  }
  .plan-button {
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 17px;
  }