.myForm {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    max-width: 500px; /* 수정: 폼의 최대 너비를 조정합니다. */
    margin: auto; /* 수정: 폼을 가운데 정렬합니다. */
    margin-bottom: 50px;
}
.myForm img {
    display: block;
    margin: auto; /* 수정: 이미지를 가운데 정렬합니다. */
    margin-bottom: 20px;
    width: 200px; /* 수정: 이미지의 너비를 조정합니다. */
    height: auto;
}
.myForm h1 {
    color: #2e6bac;
}
.myForm input[type="email"],
.myForm input[type="password"] {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    width: 100%;
}
.myForm button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.myForm button[type="submit"]:hover {
    background-color: #0056b3;
}
.myForm .row {
    margin-bottom: 15px;
}
.myForm .forgot-password {
    text-align: right;
    margin-top: -10px;
}
.myForm .register-link {
    text-align: left;
    margin-top: -10px;
}

.mb-3 .forgot-password{
    margin-top: 5px;
    text-align: left; 
}
