nav {
    margin-top: 50px;
}

.navbar .nav-link {
    color: black;
}

.scrollable-box-list {
    max-height: 400px;
    overflow-y: scroll;
}

.scrollable-box-search {
    max-height: 220px;
    overflow-y: scroll;
}

.kakao-button {
    display: inline-block;
    background-color: #FEE500;
    color: #000;
    border-radius: 30px;
    border: 2px solid #3C1E1E;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}

.kakao-button:hover {
    background-color: #FEE500;
    color: #000;
}

.consulting-hours {
    display: block;
    font-size: 0.8em;
    color: #000;
}

.img {
    display: block;
    margin-bottom: 20px;
    width: 200px; /* 수정: 이미지의 너비를 조정합니다. */
    height: auto;
}

body {
    background: #F1F4FD;
}

.trip_plan_button {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
}

.trip_plan_list {
    margin-top: 10px;
}

.scrollable-box-list {
    max-height: 400px;
    overflow-y: scroll;
}

.scrollable-box-search {
    max-height: 220px;
    overflow-y: scroll;
}

.custom-list-group {
    font-size: 30px;
}

.community-content {
    margin: 5px;
}